<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRegistration" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://services.coopsmill.com/diginote/Registration.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRegistration"
                contract="Registration.IRegistration" name="BasicHttpBinding_IRegistration" />
        </client>
    </system.serviceModel>
</configuration>